.App {
  
  justify-content: center; 
  align-items: center; 
  padding-left: 600px;
  text-align: center;
  
}


.container {
  border: 2px solid #007bff; 
  border-radius: 8px;
  padding: 20px; 
  background-color: white; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px; 
}